body{
    background-color: antiquewhite;
    margin: 0px;
}
nav{
    list-style-type: none;
    margin-left: 0px;
    background-color: rgba(24, 245, 245, 0.979);
    padding: 10px;
    display: flex;
}

li{
    margin-left: 10px;
}
li > a{
    color: black;
    text-decoration: none;
}
li > a:hover{
    padding:3px;
    background-color: rgb(0, 211, 211);
    color: rgb(255, 255, 255);
    box-shadow: ghostwhite 0.1em 0.1em 0.05em;
    border-radius: 3px;
}

header{
    background-color: aqua;
    font-size: 20px;
    padding: 30px;
}

.container{
    background-color: rgb(238, 222, 202);
    color: black;
    width: 60%;
    padding: 170px 170px 65px;
    margin-top: 10px;
    border-radius:10px;
    margin-top: 20px;
    margin-left: 80px;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    width: 150%;
    font-size: 17px;
    align-items: center;
    margin-top: -30px;
    margin-left: 40px;
}

#textCol{
    background-color: azure  rgb(238, 222, 202);
    color: black;
    border-radius: 2px;
    margin-top: 35px;
    margin-left: -70px;
}

.col img{
    width: 310px;
    height: 370px;
    border: solid 1px black;
    box-shadow: grey 0.05em 0.05em 0.05em;
    border-radius: 5px;
    margin-top:-80px;
}