body{
    background-color: antiquewhite;
    margin: 0px;
}
nav{
    list-style-type: none;
    margin-left: 0px;
    background-color: orangered;
    padding: 10px;
    display: flex;
}

li{
    margin-left: 10px;
}
li > a{
    color: black;
    text-decoration: none;
}
li > a:hover{
    padding:3px;
    background-color: rgb(233, 62, 0);
    color: white;
    box-shadow: whitesmoke 0.1em 0.1em 0.05em;
    border-radius: 3px;
}

header{
    background-color: orange;
    font-size: 20px;
    padding: 30px;
}

.container{
    background-color: rgb(238, 222, 202);
    color: black;
    width: 60%;
    padding: 170px;
    margin-top: 10px;
    border-radius:10px;
    margin-top: 20px;
    margin-left: 55px;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    width: 150%;
    align-items: center;
    margin-left: 40px;
}

.col img{
    width: 390px;
    height: 315px;
    border-radius: 7px;
    margin-top:-100px;
}